<!-- marathon_analytics/templates/marathon_analytics/base.html -->
{% load static %}
<html>
    <head>
        <title>Newton Voters</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
            <h1>Newton Voters</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                </ul>

            </nav>
        </header>
    
    {% block content %}
    {% endblock %}    
  
    </body>
</html>