<!-- Extend the base layout -->
{% extends "voter_analytics/base.html" %}
{% load static %}

{% block content %}
    <h2>Voter Graphs</h2>
    

    <div class="row">
        {% include "voter_analytics/search.html" %}    
    </div>

    <hr>


    <div id="party_distribution_graph">
        <h3>Party Distribution</h3>
        <div>{{ graph_div_party | safe }}</div>
    </div>
    
    <div id="dob_distribution_graph">
        <h3>Distribution of Voters by Year of Birth</h3>
        <div>{{ graph_div_birth | safe }}</div>
    </div>
    
    <div id="voter_participation_graph">
        <h3>Voter Participation by Election</h3>
        <div>{{ graph_div_election | safe }}</div>
    </div>
    
    </div>
{% endblock %}
