<!-- templates/marathon_analytics/result_detail.html -->

{% extends 'voter_analytics/base.html' %}

{% block content %}
<div class="container">
    <h1>Showing Result for {{voter.first_name}} {{voter.last_name}}</h1>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Date of Birth</th>
            <th>Party</th>
            <th>Voter Score</th>
        </tr>
        
        <tr>
            <td>{{voter.first_name}}</td>
            <td>{{voter.last_name}}</td>
            <td>{{voter.address_street_number}} {{voter.address_street_name}} {{voter.address_apartment_number}} {{voter.address_zipcode}}</td>
            <td>{{voter.date_of_birth}}</td>
            <td>{{voter.party}}</td>
            <td>{{voter.voter_score}}</td>

        </tr>

    </table>
</div>

{% endblock %}
