<!--hw/templates/hw/about.html -->

{% extends 'hw/base.html' %}

    {% block content %}
    <h1>About this page</h1>

    <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta fuga vitae eius. Optio consequuntur necessitatibus assumenda doloremque facere minus ipsa mollitia fuga maxime fugit quis eaque, explicabo iusto maiores. Iure!
    </p>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, laboriosam. Porro architecto ab corporis quam iure eius, nesciunt voluptatum maxime excepturi dolor aperiam possimus? Ut non repudiandae tempore possimus eum.4
    </p>
    {% endblock %}

        