<!--restaurant/templates/restaurant/base.html -->

<!-- Created by Mike Greene -->

<!-- base HTML file for other pages to use as template -->

{% load static %}
<html>
    <head>
        <title>Dino's Italian</title>
        <link rel="stylesheet", href="{% static 'restaurant/styles.css' %}">
    </head>
    <body>

        <div class="container">
        <h1>Dino's Italian</h1>

        <nav>
            <ul>
                <li><a href="{% url 'main' %}">Main</a></li>
                <li><a href="{% url 'order' %}">Order</a></li>
            </ul>
        </nav>
       

        <!-- put page specific content here -->
         {% block content %}
         {% endblock %}
        </div>

    </body>
</html>