<!-- templates/show_all.html -->
{% extends 'blog/base.html' %}

{% block content %}
<h1>Showing all Articles</h1>
<!-- scriptlet code to display the value of the variable `articles` 
{{ articles }}
-->
<main class="grid-container">
    {% for article in articles %}
    <article>
        <div>
            <h2>{{article.title}}</h2>
            <h3>by {{article.author}} at {{article.published}}</h3>
            <p>
                {{article.text}}
            </p>
        </div>
        <a href="{% url 'article' article.pk%}">
            <img src="{{article.image_url}}" alt="">
        </a>
        
        
    </article>
    <hr>

    {% endfor %}
<main>
{% endblock %}