/*file: static/restaurant/styles.css */

/*# Created by Mike Greene */

/* CSS file for the restaurants app */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }


html, body {
  height: 100%;
  display: flex;
}

body {
    font-family: "Lucida Console", "Courier New", monospace;
}

#sub {
  margin-left: 20px;
}

nav ul {
  display: flex;
  list-style: none;  
  padding: 0;
  margin: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}