<!-- mini_fb/templates/mini_fb/base.html -->

{% load static %}
<html>
    <head>
        <title>Facebooooook</title>
        <link rel="stylesheet" href="{% static 'mini_fb/styles.css' %}">
    </head>
    <body>
        <header>
            <nav>
            <a href="{% url 'show_all' %}">
                <h1 id="logo">Facebooooook</h1>
            </a>

            <a href="{% url 'create_profile' %}">
                <h3>Create Profile</h3>
            </a>
            </nav>
        </header>
    <!-- Substitute specific content here-->
    {% block content %}
    {% endblock %}    
  
    </body>

    <footer>

    </footer>
</html>