<!-- templates/mini_fb/show_profile.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}


<main class="grid-container">

    <h1 id="page_header">Profile</h1>

    <table border="1">
        <tr>
            <td>
                <img id="individual_profile" src="{{ profile.image_url }}" alt="Profile Image" >
            </td>
            <td>
                <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
                <h3>{{ profile.city }}</h3>
                <h3>{{ profile.email }}</h3>
            </td>         
        </tr>
    </table>

    <h1>Status Messages:</h1>
    {% for status_message in profile.get_status_messages %}
        <h3>{{ status_message.timestamp }}</h3>
        <p>{{ status_message.message }}</p>
    {% endfor %}


</main>
{% endblock %}


