<!-- templates/mini_fb/show_profile.html -->
<!-- created by Mike Greene -->
{% extends 'mini_fb/base.html' %}

{% block content %}


<main class="grid-container">

    <h1 id="page_header">Profile</h1>

    <table border="1">
        <tr>
            <td>
                <img id="individual_profile" src="{{ profile.image_url }}" alt="Profile Image" >
            </td>
            <td>
                <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
                <h3>{{ profile.city }}</h3>
                <h3>{{ profile.email }}</h3>
            </td>         
        </tr>
    </table>

    {% if request.user == profile.user %}
    <div class="button-container">
        <a href="{% url 'update_profile' %}">
            <h3 id="profile-button">Update Profile</h3>
        </a>

        <a href="{% url 'friend_suggestions' %}">
            <h3 id="profile-button">Friend Suggestions</h3>
        </a>
    
        <a href="{% url 'create_status' %}">
            <h3 id="profile-button">Add Status Message</h3>
        </a>

        <a href="{% url 'news_feed' %}">
            <h3 id="profile-button">News Feed</h3>
        </a>
    </div>
    {% endif %}

    
    <h1>Friends:</h1>
        <div class="friends-container">
        {% for friend in profile.get_friends %}
        <div class="friend">
            <a href="{% url 'profile' friend.pk %}">
                <img id="" src="{{ friend.image_url }}" >
            </a>
            <h3 class="friend-name">{{ friend.first_name }} {{ friend.last_name }}</h3>
        </div>
        {% endfor %}
        </div>

    <h1>Status Messages:</h1>
    {% for status_message in profile.get_status_messages %}
        <h3>{{ status_message.timestamp }}</h3>
        <p>{{ status_message.message }}</p>
        
        {% for img in status_message.get_images %}
            <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}'>
        {% endfor %}

        <br>
        <a href="{% url 'delete_status' status_message.pk %}">
            <h3 id="status-button">Delete</h3>
        </a>
        <a href="{% url 'update_status' status_message.pk %}">
            <h3 id="status-button">Update</h3>
        </a>

        
    {% endfor %}

    
    <br>
    <br>


</main>
{% endblock %}


