<!-- mini_fb/update_status_message_form.html 
    display the HTML form to update a an Profile object.
-->
{% extends 'mini_fb/base.html' %}

{% block content %}
<h1>Update this Status Message</h1>

<!-- display the HTML form -->
<form accept="{% url 'update_status' status_message.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{form.as_table}}
     </table>

     <input type="submit" name="submit" value="Update">
     
 </form>

 <form action="{% url 'profile' profile.pk %}" method="GET">
    <input type="submit" value="Cancel">
 </form>




{% endblock %}