<!--quotes/templates/quotes/about.html -->
{% extends 'quotes/base.html' %}

    {% block content %}
    
    <br>
    <h2>About</h2>
    
    <p>Eleanor Roosevelt was a trailblazing First Lady who transformed the role into one of activism and advocacy. Serving from 1933 to 1945 alongside her husband, Franklin D. Roosevelt, she championed civil rights, women's rights, and social justice at a time when few in her position spoke out. After FDR’s death, she became a key figure in the United Nations, playing a major role in drafting the Universal Declaration of Human Rights. Her lifelong dedication to human dignity and equality led to her nickname "First Lady of the World."</p>
    <br>
    <p>This page was created by Mike Greene, a CS student at Boston University for class CS412, Full-Stack Application Design and Development. 2025</p>        
    
    {% endblock %}