body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100; 
  margin: 0;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  color: #184154;

}

table {
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: auto; 
  margin-bottom: 10px;
  border-color: #1f556e;
}


td {
  padding: 15px;
  vertical-align: middle;
}


img {
  width: 100px;
  height: 100px;
  border-radius: 15%;
  object-fit: cover;
}


a {
  text-decoration: none;
  color: #184154;
}

h2, h3 {
  margin: 5px 0;
}

#logo {
  color: #1f556e;
  text-align: center;
}

#status_message_button {
  color: #423b87;
}

#individual_profile {
  width: 200px;
  height: 200px;
}

#page_header{
  text-align: center;
}

#profile-button {
  color: #e9edee;
  background-color: #1f556e;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  display: inline-block;
}

#status-button {
  color: #e9edee;
  background-color: #1f556e;
  border-radius: 4px;
  padding: 2px;
  text-align: center;
  display: inline-block;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.friends-container {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

nav ul {
  display: flex;
  list-style: none;  
  padding: 0;
  margin: 0;
}

li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.auth-info {
  text-align: center;
  font-weight: bold;
}